/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-page-color);
  padding: 10px;
  font-family: "IBM Plex mono", sans-serif ;
  
}

.header .decorated-zone {
  width: 100%;
  position: relative;
}

 .decorated-zone::before{
content: '';
display: block;
width:25px ;
height: 25px;
border-top:1px solid var(--border-color);
border-right:1px solid var(--border-color);
position: absolute;
top:10px;
right: 10px;
}

.header__theme-menu-list {
  margin: 72px 0 0 285px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 13px;
  grid-template-columns: repeat(1, minmax(70px,70px));
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 1rem;
}

.header__theme-menu-button:hover {
  outline-offset: 1px;
  outline: 1px solid #000;
}

.header__theme-menu-button:focus {
  appearance: none;
}

.header__theme-menu-button:focus-visible {
  outline-offset: 5px;
  border-block-end: 1px solid #000;
}



.title {
font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 83%;
  color: var(--font-color-title);
  text-shadow: var(--text-shadow-title);
  margin-block-start: 55px;
  margin-block-end: 40px;
}

.description{
  position: relative;
  margin-block-end: 106px;
  background-color: var(--bg-accent-color);
  font-weight: 700;
  line-height: 23.4px; 
}

.description::after{
content: '';
display: block;
width:25px ;
height: 25px;
border-bottom:1px solid var(--border-color);
border-left:1px solid var(--border-color);
position: absolute;
top: 148px;

}

.question{
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 700;
  margin-block-start:20px ;
  line-height: 130%; 
}

.main__point{
background-color: var(--bg-accent-color);
font-size: 1rem;
margin-block-start:20px ;
margin-block-end:10px ;
line-height: 23.4px; 
}

.advise{
  background-color: var(--bg-accent-color);
font-size: 1rem;
font-weight:normal;
margin-block-start:20px ;
margin-block-end:10px ;
}

.pictures{
  width: 100%;
}